.cs-bg-green {
    background-color: #1abc9c;
    color: #fff
  }
  
  .cs-bg-dark {
    background-color: #2c3e50;
    color: #fff
  }

  .cs-bg-lightdark{
    background-color: lightslategrey;
    color: white;
  }

  .cs-border{
    border: 1px solid white;
    font-size: 2rem;
  }

  .cs-but{
    background-color: #1abc9c;
    color: #fff;
    border: 1px solid white;
    width: 40%;
    border-radius: 5px;
  }

  .cs-icon i{
    border: 1px solid white;
    border-radius: 25%;
    font-size: 1.5rem;
    padding: 5px 5px;
  }

  .cs-bg-dark a{
    padding: 0 15px;
    color: white;
    text-decoration: none;
  }

  .cs-star{
    width: 30%;
    height: 3px;
    border-radius: 25px;
    background-color: white;
    display: inline-block;
  }

  .cs-star-black{
    width: 30%;
    height: 3px;
    border-radius: 25px;
    background-color:#2c3e50;
    display: inline-block;
  }

  .line:before{
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 200px;
    height: 8px;
    border-radius: 25px;
  }

  .line::after{
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 200px;
    height: 8px;
    border-radius: 25px;
  }

  .line-black:before{
    content: "";
    display: inline-block;
    background-color:#2c3e50;
    width: 200px;
    height: 8px;
    border-radius: 25px;
  }

  .line-black::after{
    content: "";
    display: inline-block;
    background-color:#2c3e50;
    width: 200px;
    height: 8px;
    border-radius: 25px;
  }



